
## Ключ ИИ 

OPENAI_API_KEY=
## Токен выторизации Базара

X_AUTH_TOKEN= 

COMMENT_API_URL="https://finbazar.ru/api/gate/post/comment"

HTTP_MAX_REDIRECTS=3
REDIS_HOST=localhost
REDIS_PORT=6379

DATABASE_URL


BAZAR_API_URL="https://finbazar.ru/api/gate"

COMMENT_API_URL=https://finbazar.ru/api/gate/api/posts/add-comment

